<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<style>
		body 		{ word-wrap:break-word; }
	</style>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- stylesheets -->
	<link href="/public/js/assets/fonts/font-roboto.css" rel="stylesheet">
	<link href="/public/js/assets/web-analytics/style.css" rel="stylesheet">
	<link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="/public/css/daterangepicker.css" />
    
	<script src="/public/js/assets/jquery/jquery-3.1.0.min.js"></script>
	<script src="/public/js/assets/tether/tether.min.js"></script>
	<script src="/public/js/assets/bootstrap/bootstrap4-alpha3.min.js"></script>
	<script src="/public/js/canvasjs.min.js"></script>
	<script src="/public/js/assets/web-analytics/real-time.js"></script>
		<script type="text/javascript" src="/public/js/moment.min.js"></script>
    <script type="text/javascript" src="/public/js/daterangepicker.js"></script>
    <script type="text/javascript" src="/public/js/jquery.marquee.min.js"></script>

</head>
<body>
	<!-- header -->
	<nav class="navbar navbar-fixed-top" id="header">
		<span style="">
			<img src="/public/img/logo-1.png">
		</span>
		
		<div style="float:right; margin-top:1px">
			<table border=0 style="width:300px;">
				<tr>
					<td class="name_menu" style="color:#fff; height:14px"><center><%= user.name %></center></td>
				</tr>
				<tr>
					<td><center>
					<div class="btn-group btn-group-sm" role="group" aria-label="...">
						<a href="#" class="btn btn-default btn-primary" data-toggle="modal" data-target="#dialogNotes"><span class="fa fa-search"></span> &nbsp;Filtro&nbsp;</a>
						<% if(user.id == 1){ %>
							<a href="/edit" class="btn btn-default"><span class="fa fa-cogs"></span> &nbsp;Editar&nbsp;</a>
						<% } %>
						<a href="/logout" class="btn btn-default" ><span class="fa fa-sign-out"></span> &nbsp;Sair&nbsp;</a>
					</div>
					</center></td>
				</tr>
			</table>
		</div>
		
		
		
	</nav>
	<!-- /header -->

	<!-- header -->
			<div class="transparency" style="width: 100%">
				<div class="marquee" style="width: 100%;" id="marquee" data-duplicated='true'>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<i class="fa fa-user"></i>&nbsp;Visitas&nbsp; <span id="revenues" class="badge revenues">773</span>&nbsp;&nbsp;
					<span class="plus">&nbsp;<img src="/public/img/plus.png">&nbsp;30%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					<i class="fa fa-pencil-square-o"></i>&nbsp;Pré-Cadastro&nbsp; <span id="cash_tender" class="badge cash_tender">142</span>&nbsp;&nbsp;
					<span class="less">&nbsp;<img src="/public/img/less.png">&nbsp;8%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					<i class="fa fa-check"></i>&nbsp;Cadastro Finalizado&nbsp; <span id="cash_tender" class="badge cash_tender">18</span>&nbsp;&nbsp;
					<span class="plus">&nbsp;<img src="/public/img/plus.png">&nbsp;65%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					<i class="fa fa-heart"></i>&nbsp;Vidas&nbsp;<span id="cash_tender" class="badge cash_tender">1</span>&nbsp;&nbsp;
					<span class="less">&nbsp;<img src="/public/img/less.png">&nbsp;12%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					<i class="fa fa-handshake-o"></i>&nbsp;Vendas&nbsp;<span id="cash_tender" class="badge cash_tender">1</span>&nbsp;&nbsp;
					<span class="plus">&nbsp;<img src="/public/img/plus.png">&nbsp;13%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					<i class="fa fa-usd"></i>&nbsp;Receitas&nbsp;<span id="cash_tender" class="badge cash_tender">526,80</span>&nbsp;&nbsp;
					<span class="less">&nbsp;<img src="/public/img/less.png">&nbsp;83%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
				</div>
			</div>

	<!-- /header -->	
	
	

	
	<div class="container">
		<div class="page-content-toggle" id="page-content-wrapper">
			<div class="container-fluid">

				<!-- 1st row -->
				<div class="row m-b-2">
					<div class="col-lg-4">
						<div class="card card-block">
							<h4 class="card-title">Cadastro</h4>
							<div id="users-device-doughnut-chart"></div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card-block">
							<h4 class="card-title">Vendas</h4>
							<div id="users-medium-pie-chart"></div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card card-block">
							<h4 class="card-title">Visitas</h4>
							<div id="users-category-pie-chart"></div>
						</div>
					</div>
				</div>
				<!-- /1st row -->

				<!-- 2nd row -->
				<div class="row">
					<div class="col-lg-6">
						<div class="card card-block">
							<h4 class="card-title m-b-2">Page Views Por Dia</h4>
							<div id="page-views-per-minute-column-chart"></div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card card-block">
							<h4 class="card-title m-b-2">Page Views Por Hora</h4>
							<div id="page-views-per-second-column-chart"></div>
						</div>
					</div>
				</div>
				<!-- /2nd row -->

				<!-- 3rd row -->
				<div class="row">
					<div class="col-md-12">
						<div class="card card-block">
							<h4 class="card-title">Page View por Localização</h4>
							<div id="users-state-bar-chart"></div>
						</div>
					</div>
				</div>
				<!-- /3rd row -->

			</div>
			<!-- /.container-fluid -->

		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" id="dialogNotes" role="dialog" aria-labelledby="gridSystemModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">Filtro</h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-lg-6 form-group datas">
							<label class="control-label">Datas</label>
		                    <input type="text" id="datas" class="form-control">
							<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
						</div>
						<div class="col-lg-6 form-group">
							<label>Diretor</label>
							<select class="form-control" >
								<option value="" hidden>Selecione o(s) diretor(es)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Gerente</label>
							<select class="form-control">
								<option value="" hidden>Selecione o(s) gerente(es)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Representante</label>
							<select class="form-control">
								<option value="" hidden>Selecione o(s) representante(es)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Corretora</label>
							<select class="form-control">
								<option value="" hidden>Selecione o(s) corretor(es)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Mídia</label>
							<select class="form-control">
								<option value="" hidden>Selecione a(s) mídia(es)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Estrutura de Venda (EV	EA	AA)</label>
							<select class="form-control">
								<option value="" hidden>Selecione a(s) estrutura de venda(as)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Produtor</label>
							<select class="form-control">
								<option value="" hidden>Selecione o(s) produtor(es)</option>
							</select>
						</div>
						<div class="col-lg-6 form-group">
							<label>Diretor</label>
							<select class="form-control">
								<option value="" hidden>Selecione o(s) diretor(es)</option>
							</select>
						</div>
					</div>	
					<div class="modal-footer">
						<!--input type="submit" class="btn btn-success" value="Confirmar"-->
						<button type="button" class="btn btn-success"  data-dismiss="modal">Confirmar</button>
						<button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</body>
</html>

<style type="text/css">
      .datas { position: relative; }
      .datas i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
      </style>
<script type="text/javascript">
	$(document).ready(function() {
	
		$('#marquee').marquee({
			pauseOnHover: true,
			duration: 24000,
			gap: 50,
			delayBeforeStart: 0,
			direction: 'left',
			duplicated: true
		}); 
		
		$('#datas').daterangepicker({
			"locale": {
				"format": "DD/MM/YYYY",
				"separator": " - ",
				"applyLabel": "Aplicar",
				"cancelLabel": "Cancelar",
				"fromLabel": "De",
				"toLabel": "Até",
				"customRangeLabel": "Custom",
				"daysOfWeek": [
					"Dom",
					"Seg",
					"Ter",
					"Qua",
					"Qui",
					"Sex",
					"Sáb"
				],
				"monthNames": [
					"Janeiro",
					"Fevereiro",
					"Março",
					"Abril",
					"Maio",
					"Junho",
					"Julho",
					"Agosto",
					"Setembro",
					"Outubro",
					"Novembro",
					"Dezembro"
				],
				"firstDay": 0
			}
		});
	});
</script>